body{
    margin: 0;
    padding: 0;
    background-color: rgb(38, 51, 93);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    }

.encabezado {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}
.menu p{
    margin-left: 10px;
    margin-right: 10px;


}

.todo{
    display: flex;
    justify-content: center;
}

.contenido{
margin-top: 130px;
margin-right: 200px;
}


.contenido p{
    margin: 5px;
    font-size: 20px;
}
.contenido h1{
    margin: 5px;
    font-size: 60px;
}

.textm{
margin-top: 10px;
margin-bottom: 30px;
}


.cuadrado{
    width: 500px;
    height: 500px;
    background-color: rgba(201, 190, 190, 0.929);   
    margin-top: 50px; 
    margin-left: 150px;
    margin-right: -20px;

}

.botones{
    margin-top: 15px;
    

}
a{
font-family: Arial, Helvetica, sans-serif;
color: white;
text-decoration: none;

}

#boton{
    width: 70px;
    height: 30px;
    background-color: rgb(249, 116, 75);
    color: white;
    border-radius: 5px;
}

#boton2{
    width: 70px;
    height: 30px;
    background-color: rgb(249, 116, 75);
    color: white;
    border-radius: 5px;
}
#boton3{
    width: 130px;
    height: 30px;
    background-color: rgb(38, 51, 93);
    color: white;
    border-color: rgb(249, 116, 75);
    border-radius: 5px;
}

.parte2{
background-color: white;    
color: black;
display: flex;
justify-content: center;
margin-top: 80px;

}

.parte2 h1{
    display: flex;
    justify-content: center;
}

.parte2 h5{
    display: flex;
    justify-content: center;
    margin-top: -3%;
}

.parte3{
    background-color: white;    
    color: black;
    display: flex;
    justify-content: center;
    
    }

    .cuadros{
    margin: 20px;
    border: 1px solid rgb(228, 214, 214); /* Puedes ajustar el ancho, el estilo y el color del borde según tus necesidades */
    padding: 10px; /* Añade un relleno para separar el contenido del borde */
    }


    .cuadros h5{
        margin-bottom: -10px;
        font-weight: normal;
    }

    .cuadros h4{
       /*margin-top: 50px;*/
        margin-bottom: -25px;
        margin-top: 18px;
    }

    .cuadros h6{

        font-weight: normal;
    }
.perfil{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.perfil img{

    border-radius: 50%;
}